@import './base.css';

/* 全局样式表 */
html, body, #app {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: none;
	color: #000;
}

.green {
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}